.bottom-footer {
	margin-bottom: 40px !important;  // Make room for Gitter buttons
}

.gitter-open-chat-button {
	right: 90px;
}

.gitter-chat-embed {
	top: 49px;
	border-top: 1px solid #000;
	z-index: 10000;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.share-buttons img{
  width: 32px;
}