<li class="header">Categories</li>
@foreach(IDocument group in Documents.FromPipeline("AddinCategories"))
{
    string selectedClass = group.String(Keys.GroupKey) == Model.String(Keys.GroupKey) ? "selected" : null;
    <li class="@selectedClass"><a href="@Context.GetLink(group)">@group.String(Keys.GroupKey)</a></li>    
}