@{
	Layout = "/_Master.cshtml";
	
	ViewData[Keys.Title] = "Addins - " + Model.String(Keys.GroupKey);
}

@section Infobar {	
}

@section Sidebar {    
    @Html.Partial("_AddinsSidebar")
}

<section class="content-header">
	<h1>@Model.String(Keys.GroupKey)</h1>
</section>
<section class="content">    
    @Html.Partial("_AddinsList", Model.DocumentList(Keys.GroupDocuments))    
    @RenderBody()
</section>