
<div class="alert alert-info" role="alert">
    <p><span class="glyphicon glyphicon-info-sign"></span> .NET tools are now natively supported in Cake builds via <code>#tool dotnet:</code></p>
    <br>
    <p>The Cake.DotNetTool Module is bundled with Cake since version 1.1 and is no longer required as a separate package/dependency.
        Cake.DotNetTool Module will always be released together with Cake and will only be compatible with the specific release.
        If you use Cake.DotNetTool Module already on your builds do one of the following:
    </p>
    <br>
    <ul>
        <li>
            Upgrade Cake to version 1.1.0, and remove the Cake.DotNetTool.Module from your build script (as it's no longer needed)
        </li>
        <li>
            Pin Cake.DotNetTool.Module to a version compatible with the Cake version that you use. 
            Cake.DotNetTool.Module version 1.0.1 is the last version compatible with Cake 1.0.0.
            Since version 1.1 Cake.DotNetTool.Module is always released together with Cake and is only compatible with the specific release.
        </li>

    </ul>
</div>