@{
    List<Tuple<string, string>> pages = new List<Tuple<string, string>>
    {
        Tuple.Create("Blog", Context.GetLink("blog")),
        Tuple.Create("Documentation", Context.GetLink("docs")),
        Tuple.Create("Reference", Context.GetLink("dsl")),
        Tuple.Create("Addins", Context.GetLink("addins")),
        Tuple.Create("API", Context.GetLink("api")),
        Tuple.Create("FAQ", Context.GetLink("faq")),
        Tuple.Create("<i class=\"fa fa-github\"></i> Source", "https://github.com/cake-build/cake")
    };
    foreach(Tuple<string, string> page in pages)
    {
        string active = Context.GetLink(Document).StartsWith(page.Item2) ? "active" : null;
        <li class="@active"><a href="@page.Item2">@Html.Raw(page.Item1)</a></li>
    }
}