Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
@{
    // Latest Cake release name from GitHub e.g. v1.0.0-rc0002
    var latestReleaseName = Model.String("CakeLatestReleaseName") ?? "x.y.z";

    // All documents in the "Release Notes" category
    var releaseBlogPosts = Documents
        .Where(d => "Release Notes".Equals(d.String("category"), StringComparison.Ordinal));

    // Attempt to locate a corresponding blog post for the latest Cake release
    // NB: Blog posts need to have `releaseName` in the front matter matching the GitHub release name
    var latestReleaseBlogPost = releaseBlogPosts
        .Where(p => latestReleaseName.Equals(p.String("releaseName"), StringComparison.Ordinal))
        .FirstOrDefault();

    // Use link to blog post if found, otherwise fallback to link to GitHub release
    var latestReleaseUrl = latestReleaseBlogPost is null
        ? Model.String("CakeLatestReleaseUrl") ?? "#"
        : Context.GetLink(latestReleaseBlogPost);
}
<div class="alert-latest-version">
    <a href="@latestReleaseUrl">Cake @latestReleaseName is now available</a>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>What is Cake?</h1>
                <p>
                    Cake (C# Make) is a free and open source cross-platform build automation system with a C# DSL for tasks such as compiling code, copying files and folders, running unit tests, compressing files and building NuGet packages.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/docs/getting-started" role="button">Get Started &raquo;</a>
                    <a class="btn btn-primary btn-lg" href="/community" role="button">Get Involved &raquo;</a>
                    <a class="btn btn-primary btn-lg" href="https://github.com/cake-build/cake" role="button" target="_blank"><i class="fa-solid fa-star"></i> Star on GitHub</a>
                </p>
            </div>
            <div class="col-sm-6 hidden-xs">
                <img style="width: 360px;float: right;" src="/assets/img/screenshot.png" alt=""/>
            </div>
        </div>
    </div>
</div>

<div class="container content text-center">
    <div class="row slideanim">
        <div class="col-sm-4">
            <h3 class="no-anchor">Familiar</h3>
            <p>
                Cake is built on top of the Roslyn compiler which enables you to write your build scripts in pure C# in
                either a standard console project, using <a href="docs/running-builds/runners/cake-frosting">Cake Frosting</a>,
                or as Cake script using <a href="docs/running-builds/runners/dotnet-tool">Cake .NET Tool</a>.
            </p>
        </div>
        <div class="col-sm-4">
            <h3 class="no-anchor">Cross platform &amp; cross runtime</h3>
            <p>
                Cake runs on modern .NET platform and is available on Windows, Linux and macOS.
                See <a href="docs/running-builds/runners">Runners</a> for a list of available runners.
            </p>
        </div>
        <div class="col-sm-4">
            <h3 class="no-anchor">IDE integration</h3>
            <p>
                Cake can run as simple console applications with full IDE integration including IntelliSense or refactoring.
                There are extensions available to provide advanced features for most popular IDEs and editors.
                See <a href="docs/integrations/editors">Editors</a> for detailed feature list.
             </p>
        </div>
        <div class="col-sm-4">
            <h3 class="no-anchor">Reliable</h3>
            <p>
                Regardless if you're building on your own machine, or building on a CI system such as
                <a href="docs/integrations/build-systems/azure-pipelines">Azure Pipelines</a>,
                <a href="docs/integrations/build-systems/github-actions">GitHub Actions</a>,
                <a href="docs/integrations/build-systems/teamcity">TeamCity</a> or
                <a href="docs/integrations/build-systems/jenkins">Jenkins</a>,
                Cake is built to behave in the same way.
                See <a href="docs/integrations/build-systems">Build Systems</a> for a full list.
            </p>
        </div>
        <div class="col-sm-4">
            <h3 class="no-anchor">Batteries included</h3>
            <p>
                Cake supports the most common tools used during builds such as MSBuild, .NET Core CLI, MSTest, xUnit, NUnit,
                NuGet, ILMerge, WiX and SignTool out of the box and many more through an ever growing list of <a href="/extensions">addins and modules</a>.
            </p>
        </div>
        <div class="col-sm-4">
            <h3 class="no-anchor">Open source & community backed</h3>
            <p>
                Cake will always be free and open source, even for commercial use.
                If you want to support us we accept <a href="https://opencollective.com/cake" target="_blank">donations</a>.
                There's an amazing community around Cake with <a href="community/thanks">several hundred contributors</a> which are involved in the project
                and we would love to <a href="community">have you on board too</a>.
            </p>
        </div>
    </div>
</div>
