Title: Home
NoSidebar: true
NoContainer: true
NoGutter: true
---
<div class="jumbotron">
    <div class="container">
        <h1>What is Cake?</h1>
        <p>Cake (C# Make) is a cross-platform build automation system with a C# DSL for tasks such as compiling code, copying files and folders, running unit tests, compressing files and building NuGet packages.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/docs/tutorials/getting-started" role="button">Get Started &raquo;</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h3 class="align-top">Familiar</h3>
            <p>
                Cake is built on top of the Roslyn compiler which enables you to write your build scripts in C#.
            </p>

            <h3>Cross platform</h3>
            <p>
                Cake is available on Windows, Linux and macOS.
            </p>

            <h3>Reliable</h3>
            <p>
                Regardless if you're building on your own machine, or building on a CI system such as AppVeyor,
                TeamCity, TFS, VSTS or Jenkins, Cake is built to behave in the same way.
            </p>

            <h3>Batteries included</h3>
            <p>
                Cake supports the most common tools used during builds such as MSBuild, MSTest, xUnit, NUnit,
                NuGet, ILMerge, WiX and SignTool out of the box.
            </p>

            <h3>Open source</h3>
            <p>
                We believe in open source and so should you. The source code for Cake is
                <a href="https://github.com/cake-build/cake">hosted on GitHub</a> and
                includes everything needed to build it yourself.
            </p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <img style="width: 100%;" src="/assets/img/screenshot.png" alt=""/>
        </div>
    </div>
</div>
