Title: Documentation
---

<p>
    Cake (C# Make) is a cross-platform build automation system with a C# DSL for tasks such as compiling code, copying files and folders, running unit tests, compressing files and building NuGet packages.
</p>
<p>
    It ships both as a <a href="/docs/running-builds/runners/dotnet-core-tool">.NET Tool</a>, a <a href="/docs/running-builds/runners/cake-frosting">library for using in console applications</a> and a <a href="/docs/running-builds/runners/cake-runner-for-dotnet-framework">.NET Framework executable</a> and runs on Windows, Linux and macOS.
</p>
<p>
    Out of the box it contains a number of different <a href="/dsl">aliases</a> to allow you to quickly orchestrate your build process, such as MSBuild, DotNet Core CLI, NuGet, and Chocolatey.
    In addition, there are over 300 community driven <a href="/extensions">addins and modules</a> which allow you to perform other build tasks.
</p>
<p>
    Extensions which enhance usability while working with Cake builds are also available for <a href="/docs/integrations/editors">editors and IDE's</a> as well as <a href="/docs/integrations/build-systems">build systems</a>.
</p>

@Html.Partial("_ChildPages")