Title: Documentation
---

<p>This user guide, like Cake itself, is under very active development. Some parts of Cake aren't 
documented as completely as they need to be, but we gladly accept your contributions.</p>

<p>We need your help to improve the documentation for Cake, so if there is something that you 
would like to add then you can edit the content directly on GitHub.</p>

@Html.Partial("_ChildPages")