Order: 50
Description: Available pre-processor directives
RedirectFrom: docs/fundamentals/preprocessor-directives
---

<p>
  Cake scripts have support for pre-processor line directives, which run before the script is executed.
  These can be used to reference other scripts, assemblies, namespaces and more.
</p>

<div class="alert alert-info">
  <p>
    Preprocessor directives are not required or available when running with <a href="/docs/running-builds/runners/cake-frosting">Cake Frosting</a>.
  </p>
</div>

@Html.Partial("_ChildPages")