Order: 100
Description: Integration with Jenkins
---

<h1 id="included-support">Out of the box support</h1>

<p>
    The <a href="/api/Cake.Common.Build/BuildSystemAliases/8C013DE2">Jenkins alias</a>, which returns an
    <a href="/api/Cake.Common.Build.Jenkins/IJenkinsProvider">IJenkinsProvider</a> instance can be used to interact with the Jenkins environment.
</p>
<p>
    The following example prints the build number if running on Jenkins:
</p>

<pre><code class="language-csharp hljs">if (BuildSystem.Jenkins.IsRunningOnJenkins)
{
    Information(BuildSystem.Jenkins.Environment.Build.BuildNumber);
}
else
{
    Information("Not running on Jenkins");
}</code></pre>

<div class="alert alert-info">
    <p>
        See <a href="/api/Cake.Common.Build.Jenkins/IJenkinsProvider">IJenkinsProvider</a> for details and available methods to interact with Jenkins.
    </p>
</div>

<h1 id="included-support">Available 3rd party extensions</h1>

@*
@{
    var keywords = new List<string> { "jenkins" };
    var extensions =
        Documents["Extensions"]
            .Where(x =>
                keywords.Any(y => x.String("Name").ToLowerInvariant().Contains(y)));
}

@Html.Partial("_ExtensionsList", extensions)
*@