@model dynamic
@{
    ViewBag.Title = "Page Not Found (400)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* TITLE *@
<div class="container">
    <div class="main-content-title">
        <h2>Page Not Found (400)</h2>
    </div>

    <div style="margin-top: 20px">
        <p>
            These aren't the droids you're looking for...
        </p>
    </div>
</div>