Order: 10
RedirectFrom:
  - docs/overview
  - docs/overview/features
---
<p>Tutorials to get you up and running quickly</p>

<div class="alert alert-info">
    <p>
        See also <a href="/community/resources/">Community Resources</a> for a lot of helpful courses, videos, presentations and blog posts which can help you get started with Cake.
    </p>
</div>