Order: 20
Title: Rider
Description: Extensions and supported features for JetBrains Rider
RedirectFrom: docs/editors/rider
---

<p>
    The <a href="https://plugins.jetbrains.com/plugin/15729-cake-rider" target="_blank">Cake plugin for Rider</a>
    brings the following features to JetBrains Rider:
    <ul>
        <li><a href="/docs/integrations/editors/rider/run-configurations">Run configurations</a></li>
        <li><a href="/docs/integrations/editors/rider/tools">Tools</a></li>
        <li><a href="/docs/integrations/editors/rider/templates">Project Templates, File Templates and Live Templates</a></li>
        <li>Support for structure view and scratch files</li>
        <li>Double-click to build a task, directly in-file via Code Vision</li>
    </ul>
</p>

<h1>Installation & configuration</h1>

<p>
    See <a href="https://plugins.jetbrains.com/plugin/15729-cake-rider" target="_blank">Cake plugin for Rider</a> for instructions how to install and configure the plugin.
</p>

<div class="alert alert-info">
    <p>
        The <a href="https://plugins.jetbrains.com/plugin/15729-cake-rider" target="_blank">Cake plugin for Rider</a> supports Rider version 2022.3 and newer.
    </p>
</div>

<h1>Child pages</h1>

@Html.Partial("_ChildPages")