@model Cake.Web.Docs.IDocumentationMetadata

<div class="alert alert-info" role="alert">
    <p><i class="fa fa-info-circle"></i> This content is part of a third party addin that is not supported by the Cake project.
    For more information about this project, please visit <a href="@Model.Url">@Model.Url</a>.</p>
</div>