Order: 60
Excerpt: How to achieve reproducible builds
RedirectFrom:
  - docs/tutorials/pinning-cake-version
  - docs/running-builds/pinning-cake-version
---

<p>
    To be able to achieve reproducible builds, also known as deterministic builds, the whole build system needs to be made deterministic.
    This page contains some tips how to write reproducible builds using Cake.
</p>
<p>
    Further information on this topic can be seen in the following video:

    <iframe width="560" height="315" src="https://www.youtube.com/embed/xq41JgaGN7k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>