Order: 10
RedirectFrom: docs/fundamentals/tasks
---

<p>
    Tasks represent a unit of work in Cake, and you use them to perform specific work in a specific order.
    A task can, for example, also have <a href="dependencies">dependencies</a>, <a href="criteria">criteria</a> and <a href="error-handling">error handling</a> associated to it.
</p>

@Html.Partial("_ChildPages")