Title: Thanks
Order: 60
Description: People and organizations supporting Cake
RedirectFrom:
  - docs/thanks
  - docs/thanks/index
---

We would like to say thank you to the following people and organizations without whom Cake would not have been possible.

<h1>Sponsors</h1>

<object data="https://opencollective.com/cake/sponsors.svg" type="image/svg+xml"></object>

<h1>Backers</h1>

<object data="https://opencollective.com/cake/backers.svg" type="image/svg+xml"></object>

<h1>Contributors</h1>

<div class="alert alert-info">
  Listed are GitHub users that have contributed to any public repository of the <a href="https://github.com/cake-build">GitHub Cake organization</a>.
</div>

@Html.Partial("_ContributorsPage", Documents["Contributors"])