Title: Reference
NoSidebar: false
---
@section Sidebar {
    @Html.Partial("_DslSidebar")
}

<p>
    This reference guide describes the various methods and properties which make up the Cake build language, or DSL.
</p>

<p>
    The DSL is made up of <a href="/docs/fundamentals/aliases">script aliases</a>, that offers specific functionality within the context of a Cake build script.
</p>

<p>
    Listed are aliases which are shipped with Cake, but also aliases which are part of community maintained <a href="/extensions">addins</a>.
</p>