Order: 20
Excerpt: Integration with Azure Pipelines
---

<h1 id="included-support">Out of the box support</h1>

<p>
    The <a href="/api/Cake.Common.Build/BuildSystemAliases/AD2EF4E3">AzurePipelines alias</a>, which returns an
    <a href="/api/Cake.Common.Build.AzurePipelines/IAzurePipelinesProvider">IAzurePipelinesProvider</a> instance can be used to interact with the Azure Pipelines environment.
</p>
<p>
    The following example writes an error message if running on Azure Pipelines:
</p>

<pre><code class="language-csharp hljs">if (BuildSystem.AzurePipelines.IsRunningOnAzurePipelines)
{
    BuildSystem.AzurePipelines.Commands.WriteError(
            "This is a error message.");
}
else
{
    Information("Not running on Azure Pipelines");
}</code></pre>

<div class="alert alert-info">
    <p>
        See <a href="/api/Cake.Common.Build.AzurePipelines/IAzurePipelinesProvider">IAzurePipelinesProvider</a> for details and available methods to interact with Azure Pipelines.
    </p>
</div>

<h1 id="included-support">Available 3rd party extensions</h1>

@*
@{
    var keywords = new List<string> { "azurepipelines", "azuredevops", "tfs" };
    var extensions =
        Documents["Extensions"]
            .Where(x =>
                keywords.Any(y => x.String("Name").ToLowerInvariant().Contains(y)));
}

@Html.Partial("_ExtensionsList", extensions)
*@