Order: 30
Title: Visual Studio
Description: Extensions and supported features for Visual Studio
RedirectFrom: docs/editors/visualstudio
---

<p>
    The <a href="https://marketplace.visualstudio.com/items?itemName=vs-publisher-1392591.CakeforVisualStudio" target="_blank">Cake extension for Visual Studio </a>
    brings the following features to Visual Studio:
    <ul>
        <li>Language support for Cake build scripts</li>
        <li><a href="/docs/integrations/editors/visualstudio/templates">Templates</a></li>
        <li><a href="/docs/integrations/editors/visualstudio/commands">Commands</a> for working with Cake files</li>
        <li><a href="/docs/integrations/editors/visualstudio/snippets">Snippets</a></li>
        <li><a href="/docs/integrations/editors/visualstudio/task-runner">Integration with Task Runner Explorer</a></li>
    </ul>
</p>

<h1>Installation & configuration</h1>

See <a href="https://marketplace.visualstudio.com/items?itemName=vs-publisher-1392591.CakeforVisualStudio" target="_blank">Cake extension for Visual Studio</a> for instructions how to install and configure the extension.

<h1>Child pages</h1>

@Html.Partial("_ChildPages")