Order: 20
Title: Visual Studio Code
Description: Extensions and supported features for Visual Studio Code
RedirectFrom: docs/editors/vscode
---

<p>
    The <a href="https://marketplace.visualstudio.com/items/cake-build.cake-vscode" target="_blank">Cake extension for Visual Studio Code</a>
    brings the following features to Visual Studio Code:
    <ul>
        <li><a href="/docs/integrations/editors/vscode/commands">Commands</a> for working with Cake files</li>
        <li>Language support for Cake build scripts</li>
        <li>Support for code outline and breadcrumb navigation in Cake files</li>
        <li>Integration to run Cake tasks via the built in `Tasks: Run Task` command</li>
        <li>CodeLens to allow you to run and debug tasks</li>
        <li><a href="/docs/integrations/editors/vscode/snippets">Snippets</a></li>
    </ul>
</p>

<h1>Installation & configuration</h1>

See <a href="https://marketplace.visualstudio.com/items/cake-build.cake-vscode" target="_blank">Cake extension for Visual Studio Code</a> for instructions how to install and configure the extension.

<h1>Child pages</h1>

@Html.Partial("_ChildPages")