Order: 10
Description: Addins allow to extend DSL with additional aliases
---

<p>
Addins allow to extend DSL with additional <a href="../fundamentals/aliases">script aliases</a>.
</p>

@Html.Partial("_ChildPages")