/* +++++++++++++++++++++++++++++++++ */
/* GLOBAL */
/* +++++++++++++++++++++++++++++++++ */

body {
    font-weight: 400;
    font-family: Roboto;
}

.jumbotron p {
    font-weight: 300;
}

.fill {
    min-height: 100%;
    height: 100%;
}

a {
    color: #337ab7;
    transition: color ease 0.3s;
}

pre {
    background-color: #ffffff;
    border: 0px;
    margin: 0px;
}

/* +++++++++++++++++++++++++++++++++ */
/* PAGE CONTENT */
/* +++++++++++++++++++++++++++++++++ */

.page-content {
    padding-bottom: 40px;
}

.container-sidebar {
    padding-top: 15px;
}

.container-sidebar .row {
    overflow: hidden;
}

.container-sidebar .full-height {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* +++++++++++++++++++++++++++++++++ */
/* SYNTAX */
/* +++++++++++++++++++++++++++++++++ */

.code-box {
    margin: 0px;
    padding: 0px;
    border: none;
}

.comment-code-box {
    margin: 0px;
    padding: 0px;
    border: none;
    margin-bottom: 15px;
}

.panel-body pre[class*="language-"] {
    margin: 0px;
    border-radius: 0em;
}

.table > thead > tr > th, .table > tbody > tr > td {
    padding-left: 15px;
}

dt {
    font-weight: 300;
}

    dt:not(:first-child) {
        margin-top: 15px;
    }

dd {
    margin-left: 20px;
}

dl {
    margin-bottom: 0px !important;
}

/* +++++++++++++++++++++++++++++++++ */
/* ARTICLE */
/* +++++++++++++++++++++++++++++++++ */

.article:not(:first-of-type) {
    border-top: 1px #987d6b dotted;
    margin-top: 25px;
}

.article-title {
    margin-bottom: 0px;
}

    .article-title a {
        color: #6B574C;
    }

.article-metadata {
    margin-top: 5px;
    padding-bottom: 10px;
    color: #987d6b;
}

    .article-metadata a {
        color: #987d6b;
    }

    .article-metadata ul {
        padding-left: 0px;
    }

    .article-metadata li {
        display: inline;
        list-style-type: none;
        padding-right: 10px;
    }

/* +++++++++++++++++++++++++++++++++ */
/* NAVIGATION */
/* +++++++++++++++++++++++++++++++++ */

body {
    margin-top: 80px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

ul li.selected {
    background-color: #281309;
    border-radius: 8px;
}

.navbar-inverse .navbar-nav > li.selected > a {
    color: #ffffff;
}

ul li.selected a:hover {
    background-color: #281309;
    border-radius: 8px;
}

@media (max-width: 767px) {
    body {
        margin-top: 50px;
    }

    .navbar-brand {
        padding: 0px 10px;
    }

        .navbar-brand img {
            margin-top: 5px;
            margin-left: 5px;
        }
}

/* +++++++++++++++++++++++++++++++++ */
/* BLOG POST */
/* +++++++++++++++++++++++++++++++++ */

.blog-post {
    padding-bottom: 20px;
}

.blog-post:not(:first-of-type) {
    border-top: 1px #987d6b dotted;
}

.blog-post .blog-post-header {
    font-weight: 400;
    padding-bottom: 10px;
}

.blog-post .blog-post-header a {
    color: #6B574C;
    text-decoration: none;
}

.blog-post .blog-post-header a:hover {
    color: #57A3E8;
}

.blog-post .blog-post-meta .fa {
    color: #987d6b;
}

.blog-post .blog-post-content {
    padding-top: 10px;
}

.blog-post .blog-post-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px #987d6b dotted;
}

.blog-post .blog-post-content pre {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* +++++++++++++++++++++++++++++++++ */
/* MAIN CONTENT */
/* +++++++++++++++++++++++++++++++++ */

.main-content {
    padding-top: 0px;
    padding-left: 40px;
}

@media (max-width: 767px) {
    .main-content {
        padding-left: 15px;
    }
}

.main-content h2 {
    font-weight: 400;
}

.main-content h3 {
    color: #987d6b;
    font-weight: 400;
    margin-top: 1.3em;
}

.main-content h4 {
    color: #987d6b;
    font-weight: 400;
    margin-top: 1.3em;
}

.main-content-title {
    padding-bottom: 10px;
    border-bottom: 1px #987d6b dotted;
}

.main-content .pager-navigation {
    padding-top: 10px;
}

/* +++++++++++++++++++++++++++++++++ */
/* SIDEBAR */
/* +++++++++++++++++++++++++++++++++ */

.sidebar {
    margin-top: 0px;
    border-right: 1px #987d6b dotted;
}

    .sidebar h2 {
        font-weight: 400;
    }

@media (max-width: 767px) {
    .sidebar {
        padding-top: 5px;
        padding-left: 15px;
        border: none;
    }

    .sidebar h2 {
        border-bottom: 1px #987d6b dotted;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.sidebar h4 {
    color: #987d6b;
    font-size: 0.9em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 15px;
}

.sidebar a {
    color: #6B574C;
}

.sidebar li.active {
    font-weight: 500;
}

.sidebar .inactive {
    color: #C1B5AA;
}

.sidebar ul {
    padding-left: 0px;
    list-style-type: none;
}

/* +++++++++++++++++++++++++++++++++ */
/* FOOTER */
/* +++++++++++++++++++++++++++++++++ */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    height: 105px;
    background-color: #432010;
}

    .footer a {
        color: #eeeeee;
    }

.align-top {
    margin-top: 0px;
}

/* +++++++++++++++++++++++++++++++++ */
/* ATTENTION */
/* +++++++++++++++++++++++++++++++++ */

.attention {
    border-left: 4px #ccc solid;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-radius: 4px;
    padding-left: 1.2em;
    margin-top: 2em;
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

.attention h4 {
    color: #987d6b;
    font-weight: 400;
    margin-top: 0em;
    margin-bottom: 1em;
}

.attention-warning {
    border-left: 4px #CE4844 solid;
}

.attention-note {
    border-left: 4px #337ab7 solid;
}

/* +++++++++++++++++++++++++++++++++ */
/* BREADCRUMB */
/* +++++++++++++++++++++++++++++++++ */

.breadcrumb {
    margin: 0px;
    padding-left: 0px;
    background-color: transparent;
}

/* +++++++++++++++++++++++++++++++++ */
/* ADDINS */
/* +++++++++++++++++++++++++++++++++ */

.addin-panel {
    margin-top: 20px;
    margin-bottom: 0px;
}

h3.panel-title {
    margin-top: 0px;
}
