Order: 10
Description: Cake Community
---

<p>
    There's an amazing community around Cake with several hundred contributors which are helping out with documentation,
    adding new features, raising issues, fixing bugs and fill missing gaps with <a href="/extensions">extensions</a>.
</p>

@Html.Partial("_ChildPages")